@using PaletteWebApp.ViewModels;
@model PaletteViewModel;

<form id="paletteForm" method="post" asp-action="UploadPalette">
    <div style="display: flex; align-items: center; align-content: center; justify-content: center; width: 100%; height: calc(100vh - 122px);">
        @for (int i = 0; i < Model?.Colors?.Count; i++)
        {
            var color = Model.Colors[i];
            <div style="background: rgba(@color.R,@color.G,@color.B); flex: 1; height: 100%;">
                <div class="bg-dark mx-auto p-2" style="width: fit-content; border-radius: 0px 0px 5px 5px;">
                    <span class="text-light">@color.HexCode</span>
                </div>
            </div>
            <input type="hidden" name="Colors[@i].R" value="@color.R" />
            <input type="hidden" name="Colors[@i].G" value="@color.G" />
            <input type="hidden" name="Colors[@i].B" value="@color.B" />
        }

        <div style="position: absolute; bottom: 25%; left: 50%; transform: translate(-50%, 0%); ">
            <input class="btn btn-dark" type="submit" value="Upload palette" />
        </div>
    </div>
</form>
